.applyBox {
    overflow: auto;
}

.applyBox::-webkit-scrollbar {
    width: 4px;
    height: 4px;
}

.applyBox::-webkit-scrollbar-track {
    background-color: #fff;
}

.applyBox::-webkit-scrollbar-thumb {
    background: #2196f3;
    border-radius: 25px;
}

.searchBox {
    height: 50px;
}

.listItem {
    cursor: pointer;
    width: 30%;
    height: 180px;
    text-align: center;
    margin: 10px;
}

.listItem img {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
}

.listItem span{
    background-color: #AC0454;
    width: 80%;
    margin: 0 auto;
    height: 30px;
    color: #fff;
    font-weight: bold;
    line-height: 30px;
    border-radius: 0 0 5px 5px;
}

.listBox {
    max-height: 0;
}