.headerBox{
    height: 50px;
    padding: 10px;
    line-height: 50px;
    text-align: right;
}
.tableBox{
    padding: 10px;
}
.formBox{
    height: 450px;
    width: 500px;
}
.inputBox{
    margin: 10px;
}