.detailBoxContainer {
    padding: 10px;
    max-height: 0;
}

.detailBox {
    height: 200px;
    width: 100%;

}

.detailBox>div {
    width: 50%;
    height: 100%;
}

.detailBox>div:first-child {
    text-align: center;
}

.detailBox img {
    width: 60%;
    height: 80%;
    border-radius: 5px;
}